* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 200px;

	/* https://uigradients.com/#IbizaSunset  */
	background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ff6a00,
		#ee0979
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ff6a00,
		#ee0979
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	color: rgba(255, 255, 255, 0.3);
	font-size: 44px;
	margin-bottom: 40px;
}

.game-menu__playerInput {
	display: flex;
}

.game-menu__error {
	color: yellow;
	text-align: center;
	margin-bottom: 20px;
	display: none;

	&--active {
		display: block;
	}
}

.game-menu__input {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
	margin: 0 4px;
	color: white;
	font-size: 16px;

	&:focus {
		outline: yellow auto 1px;
	}

	&::placeholder {
		color: rgba(255, 255, 255, 0.4);
	}
}

.button {
	color: white;
	background-color: red;
	border: none;
	padding: 7px 12px;
	font-size: 22px;
	display: block;
	margin: 20px auto;
	text-transform: uppercase;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: box-shadow 0.2s ease;

	&:hover {
		box-shadow: none;
	}

	&--restart {
		display: none;
	}
}

.game-field {
	font-size: 22px;
	color: white;
	border-spacing: 4px;
	display: none;

	&--active {
		display: block;
	}
}

.game-square {
	border: 1px solid white;
	margin: 1px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
	transition: transform 0.2s ease;
	cursor: pointer;

	&:hover {
		transform: translateY(-2px);
	}

	&--disabled {
		cursor: not-allowed;
		&:hover {
			transform: translateY(0);
		}
	}
}

.players-turn {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
}

.game-winner {
	display: none;
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;

	&--active {
		display: block;
	}
}

.player-names {
	display: none;
	color: rgba(255, 255, 255, 0.4);

	&--active {
		display: flex;
	}
}
.player-name {
	margin: 15px;
	margin-top: 0;
}
